.register-page {
  display: flex;
  height: 100vh;
  position: relative;
}
.register-page__arrow {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-80%);
}
.register-page__rsec,
.register-page__lsec {
  flex: 1 1 0;
}

.register-page__rsec {
  background-image: url("../../assets/images/bg/leftSectionBg.png"),
    linear-gradient(to top right, #2f234a, #7f56d9);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 3rem 6rem;
}

.register-page__rsec-desc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  & * {
    color: #fff;
  }
  & h2 {
    font-size: 3.75rem;
    line-height: 72px;
  }
  & p {
    font-size: 18px;
  }
}
/* Left section */
.register-page__lsec {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
.register-page__lsec--footer,
.register-page__lsec--header {
  flex-shrink: 0;
}
.register-page__lsec--header {
}
.register-page__lsec--main {
  flex-grow: 1;
}
.register-page__lsec--footer {
}
/* Adjust steps icon */
.ant-steps-item-icon {
  position: relative;
  border: none !important;
  & .ant-steps-icon:not(:has(span)) {
    display: none;
  }
  /* i want to apply this style if .ant-steps-icon hasn't include span  */
  &:not(:has(.ant-steps-finish-icon))::after {
    content: "";
    position: absolute;
    width: 40%;
    /* height: 50%; */
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;
    background-color: #fff;
    border-radius: 50%;
  }
}
.ant-steps-item .ant-steps-item-title {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #344054 !important;
}
.ant-steps-item .ant-steps-item-description {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #344054 !important;
}
.ant-steps-item.ant-steps-item-finish .ant-steps-item-tail::after {
  background-color: var(--main-color) !important;
  height: 3px !important  ;
}
.ant-steps-item .ant-steps-item-tail::after {
  height: 3px !important  ;
}
.ant-steps-item.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #12b76a;
  /* fill: #fff; */
}
.ant-steps-item.ant-steps-item-finish .ant-steps-item-icon path {
  color: #fff !important;
}
.ant-steps-item.ant-steps-item-finish .ant-steps-item-title {
  color: #12b76a !important;
}

.ant-steps-item.ant-steps-item-active {
  & .ant-steps-item-icon {
    background-color: var(--main-color) !important;
  }
  & .ant-steps-item-title {
    color: var(--main-color) !important;
  }
  & .ant-steps-item-tail {
    /* background-color: var(--main-color) !important; */
  }
}
